*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.container {
    width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  width: 300px;
  padding: 30px;
  border-radius: 10px;
  position: relative;
}

.modal button {
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
}

.modal-container.show-modal {
  display: flex;

}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate(0 , -60px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);

  }
}

.show-modal .modal {
  animation: modal .3s;
}

.books-grid {
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 15px;
  margin-top: 40px;
  
}

.book {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  background-color: antiquewhite;
  padding: 40px;
}